/results/
/data/*
!/data/2Dpeak
/data/2Dpeak/*
!/data/2Dpeak/createMultigridHierarchy.m

!/data/3Dpeak
/data/3Dpeak/*
!data/3Dpeak/createMultigridHierarchy.m

!/data/2Dshell
/data/2Dshell/*
!data/2Dshell/createMultigridHierarchy.m

!/data/3Dshell
/data/3Dshell/*
!data/3Dshell/createMultigridHierarchy.m

*.asv